<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/index.css" />

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <!-- Google icons -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div>
      <nav>
        <a class="nav-back" href="/tracks">
          <span class="material-symbols-outlined"> arrow_back </span>
        </a>
      </nav>
      <header>
        <h1><%= title %></h1>
      </header>
      <main>
        <form class="track-form" action="/tracks/create" method="POST">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Afterglow"
            required
          />

          <label for="artist">Artist(s) </label>
          <input
            type="text"
            name="artist"
            id="artist"
            placeholder="Wilkinson, Becky Hill"
            required
          />

          <%- include("partials/dropdowns/moodDropdown", {moods}) %>

          <%- include("partials/dropdowns/keyDropdown", {keys}) %>

          <label for="bpm">BPM</label>
          <input type="number" name="bpm" id="bpm" />

          <div>Choose purchased file formats</div>
          <div class="form-purchased">
            <div class="checkbox-option-container">
              <input
                type="checkbox"
                name="purchasedMp3"
                id="mp3"
                value="true"
              />
              <label for="mp3">mp3</label>
            </div>

            <div class="checkbox-option-container">
              <input
                type="checkbox"
                name="purchasedLossless"
                id="lossless"
                value="true"
              />
              <label for="lossless">lossless</label>
            </div>
          </div>
          <button class="form-submit" type="submit">Save Track Info</button>
        </form>
      </main>
    </div>
  </body>
</html>
