<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/assets/css/index.css" rel="stylesheet" />
  </head>
  <body>
    <h1><%= title %></h1>
    <button><a href="/tracks/create">New Track</a></button>

    <input
      type="search"
      name="search-track"
      id="search-track"
      placeholder="Search Track"
      aria-label="Search through all tracks"
    />

    <% if (tracks.length === 0) { %>
    <p>No tracks found</p>
    <% } else { %>
    <%- include("partials/trackList.ejs", {tracks}) %>
    <% } %>

    <script>
      const searchElement = document.querySelector("#search-track");
      searchElement.onchange = (e) =>
        (location.href = `/tracks/?search=${e.target.value}`);
    </script>
  </body>
</html>
