<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/assets/css/index.css" />
  </head>
  <body>
    <main>
      <nav>
        <button><a href="/tracks">Back</a></button>
      </nav>
      <header>
        <h1><%= title %></h1>
      </header>
      <form action="/tracks/create" method="POST">
        <div>
          <label for="title">Title: </label>
          <input type="text" name="title" id="title" required />
        </div>
        <div>
          <label for="artist">Artist(s): </label>
          <input
            type="text"
            name="artist"
            id="artist"
            placeholder="For multiple artists insert comma inbetween like so: Wilkinson, Becky Hill"
            required
          />
        </div>
        <div>
          <%- include("partials/dropdowns/moodDropdown", {moods}) %>
        </div>
        <div>
          <%- include("partials/dropdowns/keyDropdown", {keys}) %>
        </div>
        <label for="bpm">BPM: </label>
        <input type="number" name="bpm" id="bpm" />

        <fieldset>
          <legend>Choose purchased file formats:</legend>

          <label for="mp3">mp3</label>
          <input type="checkbox" name="purchasedMp3" id="mp3" value="true" />

          <label for="lossless">lossless</label>
          <input
            type="checkbox"
            name="purchasedLossless"
            id="lossless"
            value="true"
          />
        </fieldset>

        <button type="submit">Submit Track Info</button>
      </form>
    </main>
  </body>
</html>
