body {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 700px;
}

header {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: inherit;
}

/* Options menu (dropdown) for track*/

.dropdown-menu-container {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.dropdown-menu-container:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
